
     <link rel="stylesheet" href="./main.min.css">
     <body>
    <div class="l-page l-page--white" data-id="glitch">
      
      <div class="p-sketch-outline">
        <h2 class="p-sketch-outline__title">glitch</h2>
        <p class="p-sketch-outline__date">posted: 2017.4.30 / update: 2017.5.1
        </p>
        <p class="p-sketch-outline__description">study of some glitch effects.</p>
      </div>
      <canvas class="p-canvas-webgl" id="canvas-webgl" width="1241" height="628" style="width: 1241px; height: 628px;"></canvas>
    </div>
   <script src="./main.min.js"></script>
    <script>
  
    </script>
  
</body>
