<h1 class="shake shake-little shake-constant">“What has always made the state a hell on earth 
  has been precisely that<br> man has tried to make it heaven.” <br><br>--Friedrich Hölderlin </h1>

</head>
<body>
<link rel="stylesheet" href="../stylesheets/purchase.css">
<h1></h1>
{{#each allProducts}}
<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="/detail/{{this._id}}">
     <figure><img src="images/{{this.imageSource}}" width="600" height="400"/></figure>
    </a>
    <div class="desc">
    
    {{this.name}}<br>
    {{this.kind}}<br>
     </div>
    </div>
</div>
{{/each}}





