<h1 class="shake shake-little shake-constant">“What has always made the state a hell on earth 
  has been precisely that<br> man has tried to make it heaven.” <br><br>--Friedrich Hölderlin </h1>
<style>
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;

}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
  font-family: 'Rock Salt';
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 10px 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 1em;
  margin: 5% auto;
  font-family: 'Rock Salt';
}

/* hover*/
.responsive figure img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.responsive figure:hover img {
	-webkit-filter: blur(0);
	filter: blur(0);
}


</style>
</head>
<body>

<h1></h1>
{{#each allProducts}}
<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="/detail/{{this._id}}">
     <figure><img src="images/{{this.imageSource}}" width="600" height="400"/></figure>
    </a>
    <div class="desc">
    
    {{this.name}}<br>
    {{this.kind}}<br>
     </div>
    </div>
</div>
{{/each}}





